body {
    background-color: pink;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(247, 174, 247);
    position: -webkit-sticky;
    position: sticky;
  }
  
  .logo {
    margin-right: auto;
    text-decoration: none;
    color: snow;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 20px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fffefe;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #ce9cd4;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(252, 180, 228);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgb(226, 179, 214);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #956297;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

/* images n things */
.first {
    background-image: url('grass\ bruh.jpg');
    height: 700px;
    width: auto;
    background-attachment:fixed;
    position:relative;
}


section {
    background-color: lightgreen;
    text-align: center;
    font-size: 16px;
    height: 1000px;
}



.expl {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  margin-top: 30px;
}

#one {
  text-align: left;
  position: absolute;
  height: 200px;
  width: 300px;
  float: right;
  margin-left: 30px;
}



